POSJournalFileReceiver/src/main/resources/schema/testPOSDataFlat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="POSJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="SiteID"/>
              <xs:element type="xs:string" name="SiteName"/>
              <xs:element type="xs:byte" name="CommissionOperatorID"/>
              <xs:element type="xs:string" name="CommissionOperator"/>
              <xs:element type="xs:dateTime" name="DateTime"/>
              <xs:element type="xs:byte" name="ID"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:float" name="Price"/>
              <xs:element type="xs:byte" name="Quantity"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>